USE [master]
GO
/****** Object:  Database [EmployeeManagementDB]    Script Date: 19-02-2026 07:44:48 ******/
CREATE DATABASE [EmployeeManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmployeeManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EmployeeManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeManagementDB]
GO
/****** Object:  User [ems_user]    Script Date: 19-02-2026 07:44:48 ******/
CREATE USER [ems_user] FOR LOGIN [ems_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ems_user]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 19-02-2026 07:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmpId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[MobileNo] [varchar](10) NOT NULL,
	[CreateTs] [datetime] NULL,
	[ModifyTs] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmpId], [Name], [Email], [MobileNo], [CreateTs], [ModifyTs]) VALUES (2, N'Shyam', N'shyam@gmail.com', N'7894563214', CAST(N'2026-02-18T06:18:22.010' AS DateTime), CAST(N'2026-02-19T06:42:47.397' AS DateTime))
INSERT [dbo].[Employees] ([EmpId], [Name], [Email], [MobileNo], [CreateTs], [ModifyTs]) VALUES (3, N'Mohan', N'mohan@gmail.com', N'7895624789', CAST(N'2026-02-18T06:18:22.010' AS DateTime), NULL)
INSERT [dbo].[Employees] ([EmpId], [Name], [Email], [MobileNo], [CreateTs], [ModifyTs]) VALUES (9, N'ewqe', N'wewq@gmail.com', N'2435476787', CAST(N'2026-02-19T06:53:44.820' AS DateTime), CAST(N'2026-02-19T06:56:42.840' AS DateTime))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A9D105349E4BAC0F]    Script Date: 19-02-2026 07:44:48 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreateTs]
GO
USE [master]
GO
